<div accordion>
    <div accordion-head>
        <button type="button" accordion-show-button>SHOW</button>
        <button type="button" accordion-hide-button>HIDE</button>
    </div>
    <div accordion-body>
        <p>Hi</p>
    </div>
</div>

<accordion [isShow]="false">
    <div accordion-head>
        <button type="button" accordion-show-button>SHOW</button>
        <button type="button" accordion-hide-button>HIDE</button>
    </div>
    <div accordion-body>
        <p>Hi 2</p>
    </div>
</accordion>


<accordion [isShow]="true">
    <div accordion-head>
        <button type="button" accordion-show-button>SHOW</button>
        <button type="button" accordion-hide-button>HIDE</button>
    </div>
    <div accordion-body>
        <p>Hi 3</p>
    </div>
</accordion>

